*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background: #0d0d10;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 10px;
}
h6{
    font-size: 0.9rem!important;
}
.mn-5{
    margin-left: 5rem;
    margin-right: 5rem;
}
.f-14{
    font-size: 14px
}
.f-13{
    font-size: 13px;
}
.icon-14{
    width: 14px!important;
    display: inline-block!important;
}
.icon-10{
    width: 10px!important;
    display: inline-block!important;
}
.btn-red{
    background: #ff2020;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 35px rgba(255, 31, 31, 0.529);
}
.btn-black{
    background: #000;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}
.btn-round{
    border-radius: 25px;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    outline: none;
}
.btn-round:focus{
    outline: none
}
.btn-category{
    background: #1d1d1d;
    width: 100%;
    font-size: 13px;
    color: #fff;
    padding: 7px ;
}
.btn-category.active{
    background: #ff2020;
}
.btn-filter{
    width: auto;
    padding: 8px 35px!important;
}

/* landing section */
.navbar{
    z-index: 999;
    padding: 15px 0 !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    border-bottom: 2px solid rgba(111, 111, 111, 0.24);
    z-index: 9999 !important;
    transition: 0.3s;
}
.fixed-top {
    background: rgba(0,0,0,0.85);
}
.nav-ul{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    justify-items: center;
}
.nav-li{
    list-style-type: none;
}
.nav-link{
    color: #aaa;
    position: relative;
}
.link-text{
    font-size: 14px;
}
.active.link-text{
    color: #fff;
}
.active.link-text::before{
    content:'';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;
    position: absolute;
    bottom: -5px;
    left:48%;
}
.link-text:hover{
    color: #fff;
}
/* .link-text:hover::before,.link-text:focus::before{
    opacity: 1;
} */
.logo{
    grid-column: 2;
    width: 70px;
}
.l-1{
    grid-column: 2
}
.l-2{
    grid-column: 6
}
.i-1{
    grid-column: 10
}
.top-section{
    height: 100vh;
}
.slick-items img{
    width: 100%;
}
.nav-icons{
    width: 12px;
}
.slick-items{
    position: relative;
}
.carousel-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    background: #080808;
}
.slick-dots{
    bottom: 10px;
}
.slick-dots li button:before{
    border-radius: 0;
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
}
.slick-dots li{
    margin: 0 20px;
}
.carousel-overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    color: #fff;
}
.wrapper-overlay{
    width: 70%;
    margin-top: 35px;
}
.overlay-item{
    margin-bottom: 20px
}

.carousel-img{
    height: 100vh;
}
/* landing section ends */

/* trending section */
.trending,.movies-sec{
    background: #0d0d10;
}
.trends-topbar{
    padding: 40px 0 30px;
    position: relative;
    border-bottom: 3px solid rgba(119, 119, 119, 0.26);
}
.sec-title{
    position: relative;
    display:inline-block;
    color: #fff;
}
.sec-title::before{
    content:'';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: red;
    position: absolute;
    bottom: -20px;
    left:48%;
}
.category-carousel .slick-slide,.movie-category-carousel .slick-slide{
    padding: 0 15px 0 0;
}
.category-carousel .slick-prev:before,.movie-category-carousel .slick-prev:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f053";
    font-size:13px;
    color: #888;
}
.category-carousel .slick-next:before,.movie-category-carousel .slick-next:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
    font-size:13px;
    color: #888;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
    opacity: 0;
}
.trending-carousel{
    padding: 35px 0;
}
.movie-img{
    width: 160px;
    border-radius: 7px;
    box-shadow: 0px 10px 40px #010101;
}
.card-ico{
    width: 12px;
    display: inline-block!important;
    margin-right: 10px;
}
.card-label span{
    display: inline-grid;
    align-items: center;
}
.last-span{
    grid-template-columns:1fr 1fr; 
}
.card-label{
    font-size: 12px;
    font-weight: bold;
    padding: 25px 0 40px
}
.trending-items{
    outline: none;
    display: grid;
    justify-items: center;
    position: relative;
    cursor: pointer;
}
.trending-carousel .slick-prev{ 
    left: 0px;
    display: grid;
    z-index: 100;
    width: 85px;
    background: linear-gradient(90deg,#0c0c0c,transparent );
    height: 100%;
}
.trending-carousel .slick-next{ 
    right: 0px;
    display: grid;
    z-index: 100;
    width: 85px;
    background: linear-gradient(90deg,transparent ,#0c0c0c );
    height: 100%;
}

.trending-carousel .slick-next:before{
    font-size: 20px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
}
.trending-carousel .slick-prev:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f053";
    font-size:20px;   
}
/* trending section ends */
/* movies div starts */
.movies-sec{

}
.movies-body{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 35px 0;
}
.btn-add{
    background: #1d1d1d;
    color: #fff;
    padding: 12px 19px;
    border: none;
    border-radius: 25px;
    display: grid;
    margin: 0 auto;
    cursor: pointer;
}
.btn-add:focus{
    outline: none
}
.dropdown-menu{
    background: #1d1d1d;
    border-radius: 10px;
}
.dropdown-item{
    font-size: 14px;
    color: #999;
}
.dropdown-item:hover{
    background: #1d1d1d;
    color: #ccc
}

input[type="range"]{
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 5px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.45, #ffc107),
        color-stop(0.45, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #fff;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.movie-des{
    position: absolute;
    left: 50;
    right: 15px;
    bottom: -450px;
    z-index: 10;
    display: none;
}
.show{
    display: block;
}
.movie-des img{
    width: 1155px;
}
.des-wrapper{
    position: relative;
}
#close{
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
}
.more-list{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.more-list ul{

}
.more-li{
    list-style: none;
    display: inline-block;
    font-size: 12px;
    padding: 0 15px;
    color:rgba(170, 170, 170, 0.61);
    font-weight: bold;
    position: relative;
}
.active.more-li{
    color: #fff;
}
.active.more-li::before{
    content:'';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;
    position: absolute;
    bottom: -15px;
    left:48%;
}
.more-li img{
    width: 20px
}
.age-limit{
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
    background: #ce9c0a;
    font-size: 12px;
    margin-bottom: 15px;
}
/* movies div ends */
